{% load static %}
<html>
  <head>
    <link
      rel="stylesheet"
      type="text/css"
      href="{% static 'css/styles.css'%}"
    />
  </head>
  {% include "base.html" %}

  <h2>This is our homepage!!!</h2>

  <img style="width: 200px" src="{% static 'images/cr7.jpg'%}" />

  <br />
  <br />
  <br />
  <br />
  <a href="{% url 'my-login' %}"> Go to login page </a>

  <br />
  <br />
  <br />
  <br />
  <a href="{% url 'register' %}"> Register a user </a>

  <br />
  <br />
  <br />
  <br />

  <script src="{%static 'js/app.js'%}"></script>
</html>
